<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.yn.mango.dao" />
    <bean class="com.yn.mango.spring.DaoScanner">
        <property name="packages">
            <list>
                <value>com.yn.mango.dao</value>
            </list>
        </property>
    </bean>

    <!-- 初始化 -->
    <bean id="mango" class="com.yn.mango.operator.Mango" init-method="newInstance"></bean>

</beans>